###############################################
#                                             #
#              Ansible Managed                #
# ansible-megaraid/templates/megaraid.yaml.j2 #
#                                             #
###############################################

init_config:
  megacli_path: /usr/sbin/megacli
  adapter_events: {{ datadog_megaraid_adapter_events }}
  disk_events: {{ datadog_megaraid_disk_events }}

instances:
  - adapter: ALL
