###############################################
#                                             #
#              Ansible Managed                #
# ansible-megaraid/templates/megaraid.yaml.j2 #
#                                             #
###############################################

init_config:
  megacli_path: /usr/sbin/megacli

instances:
  - adapter: ALL
