#################################################
#                                               #
#               Ansible Managed                 #
# ansible-megaraid/templates/megacli_datadog.j2 #
#                                               #
#################################################

dd-agent ALL = (root) NOPASSWD: /usr/sbin/megacli
